{% extends "template.html" %}

{% block content %}
    <div class="main-body">
        <div class="repositories-container">
            <h1>
                List of github repositories of <a target="_blank" href="https://github.com/{{ author }}">{{ author }}</a>.
                <p>Total: {{ total }}</p>
            </h1>
            <ul>
                {% if repos|length == 0 %}
                    <h2>No repositories found for this user.</h2>
                {% else %}
                    {% for repo in repos %}
                        <li>
                            <a href="{{ url_for('repository', index = loop.index0)}}">
                                <h2>{{repo.name}}</h2>
                                <h3>{{repo.owner.login}}</h3>
                                <p class="description"><b>Description:</b> {{repo.description}}</p>
                                <p class="created_at">Created at: {{ repo.created_at }}</p>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}