<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    </head>

    <body>
        <header>
            <div class="navbar">
                <h1 class="logo">Flask</h1>
                <ul class="menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('repositories') }}">Blog</a></li>
                </ul>
            </div>
        </header>

        {% block content %}

        {% endblock %}
    </body>
</html>